<!doctype html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GearCase</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    :root {
      --button-height: 32px;
      --font-size: 14px;
      --button-bg: white;
      --button-active-bg: #eee;
      --border-radius: 4px;
      --color: #999;
      --border-color: #999;
      --border-color-hover: #666;
    }

    #app {
      margin: 20px;
      padding-left: 100px;
      padding-top: 100px;
    }

    body {
      font-size: var(--font-size);
    }
  </style>
  <style>
    .box {
      margin: 20px 0;
    }
  </style>
  <style>
    .sider {
      background: #333;
      width: 200px;
    }
    .header {
      background: #999;
      height: 100px;
    }
    .footer {
      background: #ccc;
      height: 50px;
    }
  </style>

</head>
<body>

<div id="app">

  <gear-popover>
    <template slot="content">
      <div>popover 内容</div>
    </template>
    <button>点击</button>
  </gear-popover>


  <gear-popover>
    <template slot="content">
      <div>popover 内容</div>
    </template>
    <button>点击</button>
  </gear-popover>


  <div style="padding-top: 100px;"></div>
  <br>

  <gear-tabs :selected.sync="selectedTab">
    <gear-tabs-nav>
      <template slot="actions">
        <button>设置</button>
      </template>
      <gear-tabs-item name="women" disabled>
        <gear-icon name="setting"></gear-icon>美女
      </gear-tabs-item>
      <gear-tabs-item name="it">
        数码
      </gear-tabs-item>
      <gear-tabs-item name="sports">
        体育
      </gear-tabs-item>
    </gear-tabs-nav>
    <gear-tabs-content>
      <gear-tabs-pane name="women">
        美女相关资讯
      </gear-tabs-pane>
      <gear-tabs-pane name="it">
        数码相关资讯
      </gear-tabs-pane>
      <gear-tabs-pane name="sports">
        体育相关资讯
      </gear-tabs-pane>
    </gear-tabs-content>
  </gear-tabs>

  <br>
  <br>

  <button @click="showToast1">top</button>
  <button @click="showToast2">middle</button>
  <button @click="showToast3">bottom</button>


  <br>
  <br>

  <gear-layout style="height: 100vh;">
    <gear-header>header</gear-header>
    <gear-content>content</gear-content>
    <gear-footer>footer</gear-footer>
  </gear-layout>

  <br>
  <br>

  <gear-layout style="height: 100vh;">
    <gear-header class="layout-demo">header</gear-header>
    <gear-layout>
      <gear-sider class="layout-demo">sider</gear-sider>
      <gear-content class="layout-demo">content</gear-content>
    </gear-layout>
    <gear-footer class="layout-demo">footer</gear-footer>
  </gear-layout>

  <br>
  <br>

  <gear-layout style="height: 100vh;">
    <gear-sider class="layout-demo">sider</gear-sider>
    <gear-layout>
      <gear-header class="layout-demo">header</gear-header>
      <gear-content class="layout-demo">content</gear-content>
      <gear-footer class="layout-demo">footer</gear-footer>
    </gear-layout>
  </gear-layout>

  <br>
  <br>

  <gear-row>
    <gear-col span="23" offset="1" :narrow-pc="{span:12, offset:12}">
      <div class="demo"></div>
    </gear-col>
  </gear-row>

  <br>
  <br>

  <gear-row>
    <gear-col span="24" :pad="{span:12}" :narrow-pc="{span:8}" :pc="{span:6}">
      <div class="demo"></div>
    </gear-col>
    <gear-col span="24" :pad="{span:12}" :narrow-pc="{span:8}" :pc="{span:6}">
      <div class="demo"></div>
    </gear-col>
    <gear-col span="24" :pad="{span:12}" :narrow-pc="{span:8}" :pc="{span:6}">
      <div class="demo"></div>
    </gear-col>
    <gear-col span="24" :pad="{span:12}" :narrow-pc="{span:8}" :pc="{span:6}">
      <div class="demo"></div>
    </gear-col>
    <gear-col span="24" :pad="{span:12}" :narrow-pc="{span:8}" :pc="{span:6}">
      <div class="demo"></div>
    </gear-col>
  </gear-row>

  <gear-row>
    <gear-col span="24" offset="3">
      <div class="demo"></div>
    </gear-col>
    <gear-col span="24">
      <div class="demo"></div>
    </gear-col>
  </gear-row>

  <br>
  <br>

  <div class="box">
    <gear-input value="Disabled" :disabled="true"></gear-input>
    <gear-input value="Readonly" :readonly="true"></gear-input>
    <gear-input value="Normal"></gear-input>
  </div>

  <div class="box">
    <gear-input value="Normal" @change="inputChange"></gear-input>
  </div>

  <div class="box">
    <gear-input value="Error" error="出现错误了!"></gear-input>
  </div>

  <div class="box">
    <gear-input value="双向数据绑定" v-model="message"></gear-input>
    <p class="message">{{message}}</p>
  </div>
  <div class="box">
    <gear-input :error="error" @input="inputValueChange" v-model="message2"></gear-input>
  </div>

  <br>
  <br>

  <div>
    <gear-button :loading="loading1" @click="loading1 = !loading1">
      按钮
    </gear-button>

    <gear-button icon="setting" :loading="loading2" @click="loading2 = !loading2">
      按钮
    </gear-button>

    <gear-button icon="setting" icon-position="right" :loading="loading3" @click="loading3 = !loading3">
      按钮
    </gear-button>

    <gear-button-group>
      <gear-button icon="left">上一页</gear-button>
      <gear-button>更多</gear-button>
      <gear-button icon="right" icon-position="right">下一页</gear-button>
    </gear-button-group>
  </div>
</div>

<script src="./src/app.js"></script>
</body>
</html>