<!doctype html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GearCase</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    :root {
      --button-height: 32px;
      --font-size: 14px;
      --button-bg: white;
      --button-active-bg: #eee;
      --border-radius: 4px;
      --color: #999;
      --border-color: #999;
      --border-color-hover: #666;
    }

    #app {
      margin: 20px;
    }

    body {
      font-size: var(--font-size);
    }
  </style>
  <style>
    .box {
      margin: 20px 0;
    }
    .message {
      display: inline-block;
      margin-left: .5em;
    }
  </style>

</head>
<body>

<div id="app">

  <div style="border: 1px solid black;">
    <gear-row :gutter="20">
      <gear-col span="2"
                :phone="{span:12}"
                :pad="{span:8}"
                :narrow-pc="{span:4}"
                :wide-pc="{span:1}"
      >

      </gear-col>
      <gear-col span="22"
                :phone="{span:12}"
                :pad="{span:16}"
                :narrow-pc="{span:20}"
                :wide-pc="{span:23}"
      >

      </gear-col>
    </gear-row>

    <gear-row :gutter="20">
      <gear-col></gear-col>
      <gear-col></gear-col>
      <gear-col></gear-col>
    </gear-row>

    <gear-row :gutter="20">
      <gear-col></gear-col>
      <gear-col></gear-col>
      <gear-col></gear-col>
      <gear-col></gear-col>
    </gear-row>

    <gear-row :gutter="20">
      <gear-col :span="2"></gear-col>
      <gear-col :span="22"></gear-col>
    </gear-row>

    <gear-row :gutter="20">
      <gear-col :span="2"></gear-col>
      <gear-col :span="20" :offset="2"></gear-col>
    </gear-row>
  </div>


  <div>
    <gear-row>
      <gear-col></gear-col>
      <gear-col></gear-col>
    </gear-row>

    <gear-row>
      <gear-col></gear-col>
      <gear-col></gear-col>
      <gear-col></gear-col>
    </gear-row>

    <gear-row>
      <gear-col></gear-col>
      <gear-col></gear-col>
      <gear-col></gear-col>
      <gear-col></gear-col>
    </gear-row>

    <gear-row>
      <gear-col :span="2"></gear-col>
      <gear-col :span="22"></gear-col>
    </gear-row>

    <gear-row>
      <gear-col :span="2"></gear-col>
      <gear-col :span="20" :offset="2"></gear-col>
    </gear-row>
  </div>

  <br>
  <br>

  <div style="border: 1px solid black;">
    <gear-row :gutter="20">
      <gear-col></gear-col>
      <gear-col></gear-col>
    </gear-row>

    <gear-row :gutter="20">
      <gear-col></gear-col>
      <gear-col></gear-col>
      <gear-col></gear-col>
    </gear-row>

    <gear-row :gutter="20">
      <gear-col></gear-col>
      <gear-col></gear-col>
      <gear-col></gear-col>
      <gear-col></gear-col>
    </gear-row>

    <gear-row :gutter="20">
      <gear-col :span="2"></gear-col>
      <gear-col :span="22"></gear-col>
    </gear-row>

    <gear-row :gutter="20">
      <gear-col :span="2"></gear-col>
      <gear-col :span="20" :offset="2"></gear-col>
    </gear-row>
  </div>

  <br>
  <br>

  <div class="box">
    <gear-input value="Disabled" :disabled="true"></gear-input>
    <gear-input value="Readonly" :readonly="true"></gear-input>
    <gear-input value="Normal"></gear-input>
  </div>

  <div class="box">
    <gear-input value="Normal" @change="inputChange"></gear-input>
  </div>

  <div class="box">
    <gear-input value="Error" error="出现错误了!"></gear-input>
  </div>

  <div class="box">
    <gear-input value="双向数据绑定" v-model="message"></gear-input>
    <p class="message">{{message}}</p>
  </div>
  <div class="box">
    <gear-input :error="error" @input="inputValueChange" v-model="message2"></gear-input>
  </div>

  <br>
  <br>

  <div>
    <gear-button :loading="loading1" @click="loading1 = !loading1">
      按钮
    </gear-button>

    <gear-button icon="setting" :loading="loading2" @click="loading2 = !loading2">
      按钮
    </gear-button>

    <gear-button icon="setting" icon-position="right" :loading="loading3" @click="loading3 = !loading3">
      按钮
    </gear-button>

    <gear-button-group>
      <gear-button icon="left">上一页</gear-button>
      <gear-button>更多</gear-button>
      <gear-button icon="right" icon-position="right">下一页</gear-button>
    </gear-button-group>
  </div>
</div>

<script src="./src/app.js"></script>
</body>
</html>